<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>测试文件</title>
<meta name="description" content="">
<meta name="keywords" content="">
<link href="" rel="stylesheet">
<!-- 新 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/font-awesome.css">
<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="js/jquery.min.js"></script>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="js/bootstrap.min.js"></script>
<script src="js/vue.js"></script>
</head>
<body>
    <div class="container" id="app">
        <h2>我的任务列表</h2>
        <h3>总共：<span class="label label-info">{{total}}</span>条，已完成:<span class="label label-info">{{completedCount}}</span>条
            <a data-toggle="modal" class="btn btn-info btn-plat pull-right" href="#modal-add">添加任务</a>
        </h3>
        <ul v-if="todos.length>0" class="list-group">
            <li class="list-group-item" v-for="(todo,index) in todos">
                <span class="label label-success" v-bind:class="{ab:todo.complete}">{{todo.title}}</span>
                <a class="btn btn-warning btn-xs pull-right" v-on:click="del(index)">删除</a>
                <a class="btn btn-danger btn-xs pull-right"
                   @click="toggleComplete(todo)"
                   v-bind:title="todo.complete?'标记为未完成':'标记为已完成'"
                >
                    {{todo.complete?'已完成':'未完成'}}
                </a>
            </li>
        </ul>
        <div class="modal fade" id="modal-add">

        </div><!-- /.modal -->
    </div>

</body>
<script type="text/x-template">

</script>
<script type="text/javascript">
    Vue.component('modal-add-template', {
        template: '#dialog-template',
        props: ['show'],
        methods: {
            close: function() {
                this.show = false
            }
        }
    })
    var app = new Vue({
        el: '#app',
        data: {
            todos: [
                {id:1,"title":'赛维德国邮政专线接入',complete:true},
                {id:2,"title":'皇家邮政接入',complete:true},
                {id:3,"title":'东莞EUB邮政接入',complete:false},
            ],
            title:'',
            error:'',
            loginType:'username',
            username:'',
            email:'',

        },
        watch:{

        },
        computed:{
            total:function(){
                return this.todos.length;
            },
            completedCount:function(){
                var i = 0;
                for(var k in this.todos){
                    if(this.todos[k].complete){
                        i++;
                    }
                }
                return i;
            }
        },
        methods:{
            addTodo(){
                var todo = {id:null,title:'',complete:false};
                if(!this.title){
                    this.error = '请输入任务名称';
                    $('#alert-message').fadeTo(2000, 500).slideUp(500, function(){
                        $('#alert-message').alert('close');
                    });
                    return;
                }
                todo.title = this.title;
                this.todos.push(todo);
                this.title='';
            },
            del(index){
                this.todos.splice(index,1);
            },
            toggleComplete(todo){
                todo.complete = !todo.complete;
            },
            toggleType(){
                if(this.loginType=='email'){
                    this.loginType='username';
                } else {
                    this.loginType='email';
                }
            }
        }
    })
</script>
<style>
    .center-block{float: none;}
    .ab {position:relative}
    .ab:before {content:"";width:100%;height:1px;background:red;position:absolute;top:50%;left:0;}
</style>
</html>